<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ctreactnative">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      >
         <meta-data
               android:name="CLEVERTAP_ACCOUNT_ID"
               android:value="TEST-654-Z9R-646Z"/>
           <meta-data
               android:name="CLEVERTAP_TOKEN"
               android:value="TEST-2c1-456"/>
           <meta-data
               android:name="CLEVERTAP_REGION"
               android:value="eu1"/>
              
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
         <meta-data
			android:name="FCM_SENDER_ID"
			android:value="id:618828970358"/>
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
        <service
            android:name="com.clevertap.android.sdk.pushnotification.fcm.FcmMessageListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver
    android:name="com.clevertap.pushtemplates.PTPushNotificationReceiver"
    android:exported="false"
    android:enabled="true">
</receiver>

<receiver
    android:name="com.clevertap.pushtemplates.PushTemplateReceiver"
    android:exported="false"
    android:enabled="true">
</receiver>
    </application>
</manifest>
